main {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    height: auto;
    width: 100%;
    margin-top: 64px;
    top: 0px;
    > .section {
        &.currentTask {
            background: url('../images/list-bg.jpg') no-repeat center center / cover transparent;
        }
        width: 100%;
        flex-basis: 50%;
        > .task-list {
            display: flex;
            flex-flow: row nowrap;
            > li {
                width: 280px; 
                position: relative;
                margin: .5rem 0 1rem 30px;
                background-color: #fff;
                transition: box-shadow .25s;
                border-radius: 2px;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
                .task-card:not(.done) {
                    .task-done {
                        display: none;
                    }
                    .taskScore {
                        font-size: 40px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: #000;
                        transform: translate(-50%, -50%);
                    }
                    .score {
                        background: #e0e0e0;
                        cursor: pointer;
                        .taskScore {
                            transition: .2s linear all;
                        }
                        &:hover {
                            background: #69f0ae;
                            .taskScore {
                                font-size: 64px;
                                color: #fff;
                            }
                        }
                    }
                    
                }
                .score {
                    min-height: 200px;
                    position: relative;
                    
                }
                .task-content {
                    padding: 15px;
                    padding-right: 0px;
                }
               .task-title {
                   font-size: 24px;
                   font-weight: 300;
                   line-height: 32px;
                   margin-bottom: 8px;
                   display: block;
                   position: relative;
                   padding-right: 17px;
                   .material-icons {
                        position: absolute;
                        right: 5px;
                        top: 5px;
                   }
               }
               .task-card.done {
                   .score {
                       background: #00c853;
                   }
                   .taskScore {
                       display: none;
                   }
                    .task-done {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        path#tick-mark {
                            fill: #fff;
                        }
                    }
               }
               &.task-add {
                    background-color: rgba(255,255,2555,.35);
                    color: #666;
                    position: relative;
                    cursor: pointer;
                    i {
                        font-size: 100px;
                        color: #fff;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
               }
            }  
        }
    }
}

